.year .container {
  break-inside: avoid-page;
}
.year #calendar-container {
  display: grid;
  width: auto;
  grid-template-columns: auto auto;
}

.month #calendar-container {
  display: block;
}

.mirror #calendar-container {
  justify-content: space-between;
}

/* two columns page spread */
#calendar-container > div {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.year #calendar-container > div {
  gap: 0.2rem;
}

.month #calendar-container > div {
  gap: 0;
}
.month #calendar-container .first-column {
  margin-bottom: 0;
}

/* individual calendars */
.calendar {
  font-size: var(--calendar-font-size);
  line-height: 1;
  display: grid;
  align-items: stretch;
  justify-content: center;
  position: relative;
  break-inside: avoid-page;
}
.year .calendar {
  grid-template-columns: var(--square-size) 1fr;
  grid-template-rows: 1fr;
  gap: 0.7rem;
}
.month .calendar {
  grid-template-columns: 1fr auto;
  grid-template-rows: 2rem 1fr;
  gap: var(--print-margin);
  width: calc(100vw - var(--total-print-margin));
  height: calc(100vh - var(--total-print-margin));
  justify-content: stretch;
  align-items: stretch;
}
.month .calendar {
  margin-top: var(--print-margin);
}
.month .first-column .calendar:first-of-type {
  margin-top: 0;
}

.mirror .second-column .calendar {
  grid-template-columns: 1fr var(--square-size);
}
.mirror .second-column .calendar-header {
  order: 2;
}
.mirror .second-column .calendar-body {
  order: 1;
}

.calendar-body {
  padding-top: 0.3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.year .calendar-body {
  width: 1.7in;
  height: 1.2in;
}

.month .calendar-body {
  grid-column: 1;
  grid-row: 2;
}

.calendar-header {
  background-color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0 10px;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  height: 100%;
  z-index: 10;
  border-radius: 3px;
}

.month .calendar-header {
  grid-column: 1;
  grid-row: 1;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: stretch;
  font-weight: 700;
  color: var(--secondary);
}

.calendar-week-days > div {
  display: grid;
  place-items: center;
  color: var(--secondary);
}

.month .calendar-week-days > div {
  padding-bottom: 0.5rem;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  color: var(--primary);
  position: relative;
  gap: 1px;
}

/* individual days */
.calendar-days > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.year .calendar-days > div {
  height: var(--square-size);
}
.month .calendar-days > div {
  align-items: start;
  justify-content: start;
  outline: var(--border) solid 1px;
  padding: 0.5rem;
}

/* dotted lines for year view notes */
.calendar-days div:nth-of-type(7n):after {
  content: "";
  display: block;
  width: calc(50vw - (4 * var(--square-size)));
  height: var(--square-size);
  position: absolute;
  border-bottom: 1px dashed var(--border);
  bottom: 0;
}

.mirror .calendar-days div:nth-of-type(7n):after {
  width: calc(100vw - (7 * var(--square-size)));
}

.same-side .calendar-days div:nth-of-type(7n):after,
.first-column .calendar-days div:nth-of-type(7n):after {
  left: calc(0rem - (8.5 * var(--square-size)));
}

.mirror .second-column .calendar-days div:nth-of-type(7n):after {
  right: 0;
}

.month .calendar-days div:nth-of-type(7n):after {
  display: none;
}

/* notes */
.year .notes {
  display: none;
}
.month .notes {
  outline: var(--border) solid 1px;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: span 2;
}

.month .notes:before {
  content: "Notes";
  background-color: var(--tertiary);
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 3px;
  margin: 0.5rem;
  font-weight: 700;
}
.month .notes:after {
  content: "";
}

/* holidays */
.hide-holidays .holidays,
.hide-holidays .holiday {
  display: none;
}

.month.show-holidays .holiday {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  font-size: 0.7rem;
}

.year.show-holidays .holidays {
  padding-top: var(--print-margin);
  break-before: always;
}

/* instructions that shows up only on screen */
.instructions {
  margin-bottom: 2rem;
  max-width: 50rem;
}
.instructions p {
  margin-bottom: 1rem;
}
ol {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
ol ol {
  margin-bottom: 0;
}

kbd {
  border: 1px solid var(--border);
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 3px;
}

@media print {
  .instructions {
    display: none;
  }
}
