:root {
  --font-size: 1rem;
  --calendar-font-size: 0.6rem;
  --square-size: 1rem;
  --primary: #0a0921;
  --secondary: #6d67cf;
  --tertiary: #8089fe;
  --border: #ccc;
  --print-margin: 0.25in;
  --total-print-margin: 0.5in;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pink {
  --secondary: #c90068;
  --tertiary: #fc63c9;
}

.orange {
  --secondary: #c95400;
  --tertiary: #fa8459;
}

.green {
  --secondary: #189702;
  --tertiary: #50d24d;
}

.blue {
  --secondary: #0054c9;
  --tertiary: #6396fc;
}
.month {
  --calendar-font-size: 1rem;
  --square-size: 10rem;
}

html {
  height: 100vh;
}
body {
  font-size: var(--font-size);
  font-family: "Sono", monospace;
  line-height: 1.6;
  position: relative;
  padding: 0.25in;
}
button {
  padding: 0.5rem;
  background-color: rgb(255, 203, 70);
  border: 0;
  box-shadow: #aaa 0 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid rgb(255, 229, 163);
  border-left: 1px solid rgb(255, 229, 163);
  border-bottom: 3px solid rgb(121, 87, 0);
  border-right: 3px solid rgb(121, 87, 0);
  outline: #522000 solid 1px;
  font-weight: 700;
}
button:hover {
  background-color: rgb(255, 135, 70);
  outline: #fff solid 1px;
}
button:active {
  margin-top: 2px;
  margin-left: 2px;
  border-bottom: 1px solid rgb(121, 87, 0);
  border-right: 1px solid rgb(121, 87, 0);
}
